* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bgColor1: #120f2f;
$bgColor2: #2f2a61;
$bgColor3: #262542;
$boxShadow: rgba(0, 0, 0, 0.9);

.opacity {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(58, 58, 58, 0.3);
}

.wrapper {
  position: absolute;
  padding-top: 19px;
  width: 65%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, $bgColor1, $bgColor2, $bgColor3);
  box-shadow: 2px 2px 15px $boxShadow;
  z-index: 2;
  top: 0;
}

.close-spinner {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: none;
}

.close-spinner:focus {
  outline: none;
}

// spinner
.spinner-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.wheel {
  transform: translateX(-28%);
}
.img-outline {
  transform: scale(1.09) rotateZ(-20deg);
}

.img {
  position: absolute;
  top: 50.75%;
  left: 50.6%;
  transform: translate(-50%, -50%) scale(1.1);
  max-width: 100%;
  z-index: 0;
}

.z-index-4 {
  z-index: 4;
}

.z-index-3 {
  z-index: 3;
}

.marker {
  position: absolute;
  top: 42%;
  left: 69%;
  z-index: 5;
  max-width: 130px;
  max-height: 130px;
}

// form
.content {
  width: 80%;
}
.bg-light-green {
  background-color: #9acd32;
}

// animation classes
.move-towards-left {
  animation: moveTowardsLeft 1s linear 1 normal;
}

.move-outwards-left {
  animation: moveOutwardsLeft 0.5s linear 1 normal;
}

.rotate {
  animation: rotate 3s linear 0s infinite;
}

// animations
@keyframes moveTowardsLeft {
  from {
    transform: translateX(-94%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveOutwardsLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-94%);
  }
}

@keyframes rotate {
  from {
    transform: scale(1.09) rotateZ(0deg);
  }
  to {
    transform: scale(1.09) rotateZ(360deg);
  }
}

// media queries
@media (max-width: 998px) {
  .wrapper {
    width: 100%;
    padding: 0px 15px;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .wrapper {
    position: static;
    padding-top: 19px;
  }
  .opacity {
    z-index: -1;
  }
  .marker {
    top: 43%;
    left: 69%;
    max-width: 80px;
    max-height: 80px;
  }
  .close-spinner {
    right: 15px;
  }
}
